*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #f8ebeb;
    border-top: 1px solid red;
    margin-top: 30px;
    padding-top: 50px;
}
nav li a:hover{
    color: black !important;
    font-weight: bolder;
}